<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- start following three lines add styling to the basic for using bootstrap css, ajax scripts and maxcdn bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- end following three lines add styling to the basic for using bootstrap css, ajax scripts and maxcdn bootstrap -->
    <!-- start script to build url from user input value -->
    <script>
        function process()
        {
        var url="http://127.0.0.1:5000/" + document.getElementById("url").value + ".html";
        location.href=url;
        return false;
        }
    </script>
    <!-- end script to build url from input value TODO not working -->
</head>
<body>
<form class="form-inline" method="POST" action="{{ url_for('test') }}">
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Please select</span>
            <select name="comp_select" class="selectpicker form-control">
              {% for o in data %}
              <option value="{{ o.name }}">{{ o.name }}</option>
              {% endfor %}
            </select>
    </div>
    <button type="submit" class="btn btn-default">Go</button>
  </div>
</form>
<!-- start form to take user input to build url  TODO This works if passing parameters in flask but not for simple html. needs more work -->
<form onSubmit="return process();">
URL: <input type="text" name="url" id="url"> <input type="submit" value="go">
</form>
<!-- start form to take user input to build url  This works if passing parameters in flask but not for simple html. needs more work -->

</body>
</html>